
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* border: 1px solid green; */
}
html{
    font-size: 62.5%;
}
body{
    background-color:#36454F;

}
a{
    color:#000;
    font-size: 1.2rem;
    text-decoration: none;
}
section{
    width: 80%;
    margin:0 auto;
}
.search-input{
    margin:50px 0;
    height: 5rem;
    text-align: center ;

}
#form{
    height: 100%;
    background-color: grey;   
    border-radius: 5px;
    padding: .5rem 1rem;
}
 input{
    height: 100%;
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    background: transparent;
    border:none;
    cursor: pointer;
    outline: #fff;
    color:#fff

}
 input::placeholder{
    color:#fff;
    text-transform: capitalize;
    
}
button{
    height: 100%;
    width: 19%;
    color:#000;
    text-transform: capitalize;
    font-size: 1.8rem;
}
.main-container{
    /* border:2px solid green; */
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    justify-content:space-around;
    padding: 1rem ;
}
.card{
    min-width: 10rem;
    min-height: 10rem;
    background-color: #fff;
    padding:1rem;
    border-radius: 5px;
    transition: all 0.3s linear;
}
img{
    max-width: 100%;
    width: 15rem;
    height: auto;
    border-radius: 5px;
    background-repeat: no-repeat;
}
.username{
    padding-top: 1rem;
    color:#000;
}
.empty-msg{
    color:#36454F;
    background-color: #fff;
    width: 50%;
    height: 5rem;
    padding:1rem;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    border-radius: 5px;
    
}